.ui-icon-logo:after {
   /* background-image: url("logo.png");
     Make your icon fit */
    background-size: 22px 24px;
}

.ui-no-round:after{
    -webkit-border-radius:0em;
    border-radius:0em;
}

.nopad {
	
	padding: 0px;
	
}

.ui-bg-blue {
	
	background-color: #081f3f;
	
}
.ui-bg-nav {
	
	background: #e4ab16 !important; 
	font-size: 18px !important; 
	
}
.ui-clean {
	
	color: #FFF; 
	
}
.ui-msg {
	
	padding:10px;
	border:2px solid #e1cda6; 
	background-color:#FFF; 
	-webkit-border-radius:5px;
	border-radius:5px; 
	
}