.ui-icon-logo:after {
   /* background-image: url("logo.png");
     Make your icon fit */
    background-size: 22px 24px;
}

.ui-no-round:after{
    -webkit-border-radius:0em;
    border-radius:0em;
}

.nopad {
	
	padding: 0px;
	
}

.logo-pad {
	
	padding: 0px;
	padding-left: 5px;
	
}

.ui-pad-c {
	
	padding-top: 90px;
	
	}

.ui-bg-blue {
	
	background-color: #081f3f;
	
}
.ui-bg-nav {
	
	background: #e4ab16 !important; 
	font-size: 18px !important; 
	
}
.ui-clean {
	
	color: #FFF; 
	
}
.ui-msg {
	
	padding:10px;
	border:2px solid #e1cda6; 
	background-color:#FFF; 
	-webkit-border-radius:5px;
	border-radius:5px; 
	float:left;
	margin-bottom:10px;
	
	
}

 .uiw-btn  { 
	
	background:none !important; border: none !important; 
	
}

 .ui-bg-null {
	
	background:none;  
	
}
 
  .ui-menu {
	
	width:100%; 
	padding:10px; 
	float:left; 
	border-top:1px #D8D8D8 solid;
	
}
   
  .simple {
	 
	text-decoration:none;
	font-weight:normal !important; 
	
}
 
 
 
 
 
 
 
 
 
 
 
 