.ui-icon-logo:after {
    background-image: url("logo.png");
    /* Make your icon fit */
    background-size: 22px 24px;
}

.ui-no-round:after{
    -webkit-border-radius:0em;
    border-radius:0em;
}
